#pokemon-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;

	a {
		text-decoration: none;

		.card {
			list-style: none;
			padding: 30px;
			background-color: #f4f4f4;
			color: #222;
			text-align: center;
			border: 2px solid rgb(127, 127, 127);
			border-radius: 10px;
		}

		.card:hover:not(.pokemon-details-container) {
			animation: bounce 0.3s forwards;
		}

		.card-title {
			text-transform: capitalize;
			margin-bottom: 0px;
			font-size: 32px;
			font-weight: normal;
		}

		.card-subtitle {
			text-transform: capitalize;
			margin-top: 5px;
			color: #666;
			font-weight: lighter;
		}

		.card-image {
			height: 180px;
		}

		@keyframes bounce {
			from {
				transform: scale(1);
			}

			to {
				transform: scale(1.05);
			}
		}
	}
}